<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="lost.tok.opTable.OperationTable"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="src"
            icon="icons/opTable.bmp"
            id="lost.tok.opTable.OperationTable"
            name="%source.editor.name"/>
      <editor
            class="lost.tok.sourceParser.SourceParser"
            default="true"
            extensions="upsrc"
            icon="icons/edit.jpg"
            id="lost.tok.sourceParser.SourceParser"
            name="%editor.source.parser.name"/>
       <editor
            class="lost.tok.disEditor.DiscussionEditor"
            contributorClass="lost.tok.disEditor.PrintActionContributor"
            default="true"
            extensions="dis"
            icon="icons/discussion.gif"
            id="lost.tok.disEditor.DiscussionEditor"
            name="%editor.discussion"/>
       <editor
             class="lost.tok.authEditor.AuthorsEditor"
             contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
             default="true"
             extensions="xml"
             icon="icons/author.gif"
             id="lost.tok.authEditor.AuthorsEditor"
             name="%editor.author"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="lost.tok.Categoy"
            name="%wizards.catagory"/>
      	<wizard
             category="lost.tok.Categoy"
             class="lost.tok.wizards.NewProject"
             finalPerspective="lost.tok.perspective"
             icon="icons/tree.jpg"
             id="lost.tok.newTokWizard"
             name="%wizards.wizard.tok"
             project="true"/>

       <wizard
             category="lost.tok.Categoy"
             class="lost.tok.wizards.NewDiscussion"
             icon="icons/discussion.gif"
             id="lost.tok.newDiscussionWizard.NewDiscussionWizard"
             name="%wizard.discussion.create"
             project="false"/>
       <wizard
             category="lost.tok.Categoy"
             class="lost.tok.wizards.NewRelation"
             icon="icons/relation.gif"
             id="lost.tok.newRelationWizard.NewRelationWizard"
             name="%lost.tok.createRelation"
             project="false"/>
       <wizard
             category="lost.tok.Categoy"
             class="lost.tok.sourceParser.wizards.UnparsedDocWizard"
             icon="icons/edit.jpg"
             id="lost.tok.unparsedDocWizard"
             name="%wizard.source.parser.create"
             project="false"/>

   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="lost.tok.opTable.PopUpMenu.MenuContribution"
            targetID="lost.tok.opTable.PopUpMenu.Menu">
         <action
               class="lost.tok.opTable.actions.AddQuoteAction"
               icon="icons/AddQuote.bmp"
               id="lost.tok.opTable.PopUpMenu.AddQuoteAction"
               label="%action.name.addQuote"
               menubarPath="additions"
               state="true"
               style="push"
               tooltip="%action.name.addQuote">
         </action>
         <action
               class="lost.tok.opTable.actions.UnMarkAllAction"
               icon="icons/UnMarkAll.bmp"
               id="lost.tok.opTable.PopUpMenu.UnMarkAllAction"
               label="%action.name.unmarkAll"
               menubarPath="additions"
               state="true"
               style="push"
               tooltip="%action.name.unmarkAll"/>
         <action
               class="lost.tok.opTable.actions.MarkAction"
               enablesFor="+"
               icon="icons/Unmark.bmp"
               id="lost.tok.opTable.PopUpMenu.UnmarkAction"
               label="%action.name.unmark"
               menubarPath="additions"
               state="true"
               style="push"
               tooltip="%action.name.unmark"/>
         <action
               class="lost.tok.opTable.actions.MarkAction"
               enablesFor="+"
               icon="icons/Mark.bmp"
               id="lost.tok.opTable.PopUpMenu.MarkAction"
               label="%action.name.mark"
               menubarPath="additions"
               state="true"
               style="push"
               tooltip="%action.name.mark"/>
      </viewerContribution>
      <objectContribution
            adaptable="false"
            id="lost.tok.ExportToHTMLContribution"
            objectClass="org.eclipse.core.resources.IProject">
         <action
               class="lost.tok.html.other.ExportAction"
               enablesFor="1"
               icon="icons/web_doc.bmp"
               id="lost.tok.ExportToHTMLAction"
               label="Create HTML"
               tooltip="Exports the entire ToK to an HTML site"/>
         <filter
               name="nature"
               value="lost.tok.ToKNature"/>
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="lost.tok.opTable.Contribution"
            targetID="lost.tok.opTable.OperationTable">
         <action
               class="lost.tok.opTable.actions.SwitchOpTableViewAction"
               icon="icons/link_ico.gif"
               id="lost.tok.opTable.switchView"
               label="%action.label.discussions.show"
               menubarPath="edit/additions"
               state="false"
               style="toggle"
               toolbarPath="OpTableGroup"
               tooltip="%action.label.discussions.show"/>
         <action
               class="lost.tok.opTable.actions.AddQuoteAction"
               definitionId="lost.tok.opTable.command.addQuote"
               icon="icons/AddQuote.bmp"
               id="lost.tok.opTable.AddQuoteAction"
               label="%action.name.addQuote"
               menubarPath="edit/additions"
               state="true"
               style="push"
               toolbarPath="OpTableGroup"
               tooltip="%action.tooltip.addQuote"/>
         <action
               class="lost.tok.opTable.actions.UnMarkAllAction"
               definitionId="lost.tok.opTable.command.unMarkQuote"
               icon="icons/UnMarkAll.bmp"
               id="lost.tok.opTable.UnMarkAllAction"
               label="%action.name.unmarkAll"
               menubarPath="edit/additions"
               state="true"
               style="push"
               toolbarPath="OpTableGroup"
               tooltip="%action.tooltip.unmarkAll"/>
         <action
               class="lost.tok.opTable.actions.MarkAction"
               enablesFor="+"
               icon="icons/Unmark.bmp"
               id="lost.tok.opTable.UnmarkAction"
               label="%action.name.unmark"
               menubarPath="edit/additions"
               state="true"
               style="push"
               toolbarPath="OpTableGroup"
               tooltip="%action.tooltip.unmark"/>
         <action
               class="lost.tok.opTable.actions.MarkAction"
               definitionId="lost.tok.opTable.command.markQuote"
               enablesFor="+"
               icon="icons/Mark.bmp"
               id="lost.tok.opTable.MarkAction"
               label="%action.name.mark"
               menubarPath="edit/additions"
               state="true"
               style="push"
               toolbarPath="OpTableGroup"
               tooltip="%action.tooltip.mark"/>
      </editorContribution>


      <editorContribution
            id="lost.tok.sourceParser.Contribution"
            targetID="lost.tok.sourceParser.SourceParser">
         <action
               class="lost.tok.sourceParser.EndHereAction"
               definitionId="lost.tok.sourceParser.command.endHereAction"
               icon="icons/AddQuote.bmp"
               id="lost.tok.sourceParser.endHereAction"
               label="%action.label.end.chapter"
               menubarPath="edit/SourceParser"
               state="true"
               style="push"
               toolbarPath="SourceParser"
               tooltip="%action.tooltip.end.chapter"/>
      </editorContribution>
      <editorContribution
            id="lost.tok.disEditor.Contributor"
            targetID="lost.tok.disEditor.DiscussionEditor">
         <action
               class="lost.tok.disEditor.AddOpinionAction"
               definitionId="lost.tok.disEditor.command.addOpinion"
               icon="icons/chat.ico"
               id="lost.tok.disEditor.addOpinion"
               label="%action.name.addOpinion"
               menubarPath="edit/OpTableGroup"
               state="true"
               style="push"
               toolbarPath="OpTableGroup"
               tooltip="%action.name.addOpinion"/>
      </editorContribution>

   </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            category="Source Parser"
            id="lost.tok.sourceParser.command.endHereAction"
            name="%command.name.end.chapter"/>
      <keyBinding
            commandId="lost.tok.sourceParser.command.endHereAction"
            contextId="org.eclipse.ui.contexts.window"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="ALT+C"
            scope="org.eclipse.ui.contexts.window"/>
      <command
            category="Operation Table"
            id="lost.tok.opTable.command.markQuote"
            name="%command.name.mark.quote"/>
      <keyBinding
            commandId="lost.tok.opTable.command.markQuote"
            contextId="org.eclipse.ui.contexts.window"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="ALT+M"
            scope="org.eclipse.ui.contexts.window"/>
      <command
            category="Operation Table"
            id="lost.tok.opTable.command.addQuote"
            name="%command.name.add.quote"/>
      <keyBinding
            commandId="lost.tok.opTable.command.addQuote"
            contextId="org.eclipse.ui.contexts.window"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="ALT+Q"
            scope="org.eclipse.ui.contexts.window"/>
      <command
            category="Operation Table"
            id="lost.tok.opTable.command.unMarkQuote"
            name="%command.name.unmark.quote"/>
      <keyBinding
            commandId="lost.tok.opTable.command.unMarkQuote"
            contextId="org.eclipse.ui.contexts.window"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="ALT+U"
            scope="org.eclipse.ui.contexts.window"/>
      <command
            category="Discussion Editor"
            id="lost.tok.disEditor.command.addOpinion"
            name="%command.name.add.opinion"/>
      <keyBinding
            commandId="lost.tok.disEditor.command.addOpinion"
            contextId="org.eclipse.ui.contexts.window"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="ALT+O"
            scope="org.eclipse.ui.contexts.window"/>
   </extension>
   <extension
         id="lost.tok.ToKNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="lost.tok.ToKNature"/>
      </runtime>
      <content-type id="lost.tok.ToK"/>
      <builder id="lost.tok.ToKBuilder"/>
   </extension>
   <extension
         id="lost.tok.ToKBuilder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="lost.tok.ToKBuilder"/>
      </builder>
   </extension>
<extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.eclipse.ui.resourcePerspective">
         <view
               closeable="true"
               id="lost.tok.excerptionsView.ExcerptionView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.TaskList"
               showTitle="true"
               visible="true"/>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="lost.tok.Categoy"
            name="%wizards.catagory"/>
      <view
            allowMultiple="false"
            category="lost.tok.Categoy"
            class="lost.tok.excerptionsView.ExcerptionView"
            icon="icons/sample.gif"
            id="lost.tok.excerptionsView.ExcerptionView"
            name="%lost.tok.excerptionsView"/>
      <view
            allowMultiple="false"
            category="lost.tok.Categoy"
            class="lost.tok.linkDisView.LinkDisView"
            icon="icons/sample.gif"
            id="lost.tok.linkDisView.LinkDisView"
            name="Linked Discussions"/>
   </extension>
	<extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            category="lost.tok.ExportCategory"
            class="lost.tok.wizards.ExportDiscussion"
            icon="icons/sample.gif"
            id="lost.tok.exportDiscussion.ExportDiscussion"
            name="%wizard.discussion.export">
         <description>
            Exports discussions from a Tok Project
         </description>
      </wizard>
      <category
            id="lost.tok.ExportCategory"
            name="%wizards.catagory"/>
   </extension>
   <extension
         id="TOKPerspective"
         name="TOK perspective"
         point="org.eclipse.ui.perspectives">
      <perspective
            class="lost.tok.perspective.Perspective"
            fixed="false"
            icon="icons/tree.jpg"
            id="lost.tok.perspective"
            name="%perspective.tok"/>
   </extension>
   <extension
         point="org.eclipse.ui.importWizards">
      <category
            id="lost.tok.ImportCategory"
            name="%wizards.catagory"/>
      <wizard
            category="lost.tok.ImportCategory"
            class="lost.tok.wizards.ImportDiscussion"
            icon="icons/sample.gif"
            id="lost.tok.wizards.ImportDiscussion"
            name="%wizard.discussion.import">
         <description>
            Imports discussions into the Tok Project
         </description>
      </wizard>
   </extension>
   <extension
         point="org.eclipse.search.searchPages">
      <page
            canSearchEnclosingProjects="true"
            class="lost.tok.search.ToKSearchPage"
            enabled="true"
            extensions="dis:101,src:100,*:9"
            icon="icons/tree.jpg"
            id="lost.tok.search"
            label="ToK Search"
            showScopeSection="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.viewActions">
      <viewContribution
            id="lost.tok.excerptionsView.Contribution"
            targetID="lost.tok.excerptionsView.ExcerptionView">
         <action
               class="lost.tok.excerptionsView.actions.ClearAllAction"
               icon="icons/UnMarkAll.bmp"
               id="lost.tok.excerptionsView.ClearAll"
               label="Clear All"
               style="push"
               toolbarPath="ToKGroup"/>
         <action
               class="lost.tok.excerptionsView.actions.LinkDiscussionAction"
               icon="icons/main_link_ico.gif"
               id="lost.tok.excerptionsView.LinkDiscussionAction"
               label="%action.name.linkDiscussion"
               state="true"
               style="push"
               toolbarPath="ToKGroup"
               tooltip="%action.tooltip.linkDiscussion"/>
         <action
               class="lost.tok.excerptionsView.actions.DeleteAction"
               icon="icons/delete.gif"
               id="lost.tok.excerptionsView.DeleteAction"
               label="Delete"
               state="true"
               style="push"
               toolbarPath="ToKGroup"/>
      </viewContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editors.documentProviders">
      <provider
            class="lost.tok.opTable.SourceDocumentProvider"
            extensions="src"
            id="lost.tok.opTable.SourceDocumentProvider"/>
   </extension>
</plugin>
