<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="lost.tok.opTable.OperationTable"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="src"
            icon="icons/sample.gif"
            id="lost.tok.opTable.OperationTable"
            name="%source.editor.name"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="Yearly_Plugin_Project"
            name="%wizards.catagory"/>
      	<wizard 
	        category="Yearly_Plugin_Project"   
			class= "lost.tok.new_wizard.NewWizard"
            icon="icons/sample.gif"
            id="yearly_plugin_project.wizards.SampleNewWizard"
            name="%wizards.wizard.tok"
            project="true"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="lost.tok.opTable.MarkPopUpMenu"
            targetID="lost.tok.opTable.OperationTable">
         <action
               class="lost.tok.opTable.MarkAction"
               enablesFor="1"
               icon="icons/sample.gif"
               id="lost.tok.opTable.MarkPopUpMenu.Action"
               label="%action.name.mark"
               menubarPath="lost.tok.opTable.MarkPopUpMenu.Menu/group1"
               state="true"
               style="push"/>
         <menu
               id="lost.tok.opTable.MarkPopUpMenu.Menu"
               label="OpTable Menu"
               path="additions">
            <separator name="group1"/>
         </menu>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="lost.tok.opTable.Contribution"
            targetID="lost.tok.opTable.OperationTable">
         <action
               class="lost.tok.opTable.MarkAction"
               icon="icons/Mark.bmp"
               id="lost.tok.opTable.MarkAction"
               label="%action.name.mark"
               menubarPath="edit/OpTableGroup"
               state="true"
               style="push"
               toolbarPath="OpTableGroup"
               tooltip="%action.tooltip.mark"/>
         <action
               class="lost.tok.opTable.UnMarkAllAction"
               icon="icons/UnMarkAll.bmp"
               id="lost.tok.opTable.UnMarkAllAction"
               label="%action.name.unmarkAll"
               menubarPath="edit/OpTableGroup"
               state="true"
               style="push"
               toolbarPath="OpTableGroup"
               tooltip="%action.tooltip.unmarkAll"/>
         <action
               class="lost.tok.opTable.AddQuoteAction"
               icon="icons/AddQuote.bmp"
               id="lost.tok.opTable.AddQuoteAction"
               label="%action.name.addQuote"
               menubarPath="edit/OpTableGroup"
               state="true"
               style="push"
               toolbarPath="OpTableGroup"
               tooltip="%action.tooltip.addQuote"/>
      </editorContribution>
   </extension>
</plugin>
