@charset "UTF-8";

body
{
	line-height : 1.3em;
	background-color : #e8eef7;
    /*background-image: url(bg/orang052.jpg);*/
}

/****    THE MENU       ****/
#menu
{
    /*background-image: url(bg/orang117.gif);*/

	padding : 10px;
	margin: 0px;

	background-color : #a2bae7;
	font: normal normal 0.75em/1 sans-serif;

	width: 16em;
	height: 115%;
    
    float: left;
    position: fixed;
    overflow: auto;
}

/****    CONTENT    ****/

div.main_content
{ 
	padding-left : 16em;
    padding-right: 4em;
}

blockquote 
{
    border : solid;
    padding: 0.1em 1.5em;
}

h2
{
    padding: 0.5em 0;
    background : orange;
}

h3
{
    padding: 0.25em 0;
    background: rgb(236, 161, 28)
}

h4
{
    padding: 0.125em 0;
    background: rgb(227, 157, 42);
}


/**** ROOT ****/

#root a:link.general            { color : #C874CF; }
#root a:visited.general         { color : #A962AF; }

#root a:link.difficulty         { color : #4DDF45 }
#root a:visited.difficulty      { color : #3DAF36 }

#root a:link.interpretation     { color : #4F659F }
#root a:visited.interpretation  { color : #6783CF }
 
#root a:link.combined           { color : #EF5E2C }
#root a:visited.combined        { color : #BF4B23 }

#root a:hover.difficulty, #root a:hover.general, #root a:hover.interpretation, #root a:hover.combined
{
    color : #000000;
}

/**** dTree ****/
/*--------------------------------------------------|
| dTree 2.05 | www.destroydrop.com/javascript/tree/ |
|---------------------------------------------------|
| Copyright (c) 2002-2003 Geir Landr�               |
|--------------------------------------------------*/

.dtree {
	font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #666;
	white-space: nowrap;
}
.dtree img {
	border: 0px;
	vertical-align: middle;
}
.dtree a {
	color: #333;
	text-decoration: none;
}
.dtree a.node, .dtree a.nodeSel {
	white-space: nowrap;
	padding: 1px 2px 1px 2px;
}
.dtree a.node:hover, .dtree a.nodeSel:hover {
	color: #333;
	text-decoration: underline;
}
.dtree a.nodeSel {
	background-color: #c0d2ec;
}
.dtree .clip {
	overflow: visible;
}

