<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="lost.tok.opTable.OperationTable"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="true"
            extensions="src"
            icon="icons/sample.gif"
            id="lost.tok.opTable.OperationTable"
            name="%source.editor.name"/>
      <editor
            class="lost.tok.sourceParser.SourceParser"
            default="true"
            extensions="txt"
            icon="icons/Mark.bmp"
            id="lost.tok.sourceParser.SourceParser"
            name="Source Parser"/>
      <editor
            class="lost.tok.linkTable.LinkageEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            default="false"
            extensions="src"
            icon="icons/main_link_ico.gif"
            id="lost.tok.linkTable.LinkageEditor"
            name="Link discussion to root"/>
   </extension>
   <extension
         point="org.eclipse.ui.newWizards">
      <category
            id="lost.tok.Categoy"
            name="%wizards.catagory"/>
      	<wizard 
	        category="lost.tok.Categoy"   
			class= "lost.tok.new_wizard.NewWizard"
            icon="icons/sample.gif"
            id="lost.tok.newTokWizard"
            name="%wizards.wizard.tok"
            project="true"/>
       <wizard
             category="lost.tok.Categoy"
             class="lost.tok.sourceParser.wizards.UnparsedDocWizard"
             icon="icons/sample.gif"
             id="lost.tok.unparsedDocWizard"
             name="Unparsed Source"
             project="false"/>
       <wizard
             category="lost.tok.Categoy"
             class="lost.tok.newLinkWizard.NewLinkWizard"
             icon="icons/sample.gif"
             id="lost.tok.newLinkWizard.NewLinkWizard"
             name="Link discussion to root"
             project="false"/>
       <wizard
             category="lost.tok.Categoy"
             class="lost.tok.opTable.wizards.AddQuoteWizard"
             icon="icons/sample.gif"
             id="lost.tok.opTable.addQuoteWizard"
             name="Add Quote"
             project="false"/>
   </extension>
   <extension
         point="org.eclipse.ui.popupMenus">
      <viewerContribution
            id="lost.tok.opTable.MarkPopUpMenu"
            targetID="lost.tok.opTable.OperationTable">
         <action
               class="lost.tok.opTable.MarkAction"
               enablesFor="1"
               icon="icons/sample.gif"
               id="lost.tok.opTable.MarkPopUpMenu.Action"
               label="%action.name.mark"
               menubarPath="lost.tok.opTable.MarkPopUpMenu.Menu/group1"
               state="true"
               style="push"/>
         <menu
               id="lost.tok.opTable.MarkPopUpMenu.Menu"
               label="OpTable Menu"
               path="additions">
            <separator name="group1"/>
         </menu>
      </viewerContribution>
   </extension>
   <extension
         point="org.eclipse.ui.editorActions">
      <editorContribution
            id="lost.tok.opTable.Contribution"
            targetID="lost.tok.opTable.OperationTable">
         <action
               class="lost.tok.opTable.MarkAction"
               icon="icons/Mark.bmp"
               id="lost.tok.opTable.MarkAction"
               label="%action.name.mark"
               menubarPath="edit/OpTableGroup"
               state="true"
               style="push"
               toolbarPath="OpTableGroup"
               tooltip="%action.tooltip.mark"/>
         <action
               class="lost.tok.opTable.UnMarkAllAction"
               icon="icons/UnMarkAll.bmp"
               id="lost.tok.opTable.UnMarkAllAction"
               label="%action.name.unmarkAll"
               menubarPath="edit/OpTableGroup"
               state="true"
               style="push"
               toolbarPath="OpTableGroup"
               tooltip="%action.tooltip.unmarkAll"/>
         <action
               class="lost.tok.opTable.AddQuoteAction"
               icon="icons/AddQuote.bmp"
               id="lost.tok.opTable.AddQuoteAction"
               label="%action.name.addQuote"
               menubarPath="edit/OpTableGroup"
               state="true"
               style="push"
               toolbarPath="OpTableGroup"
               tooltip="%action.tooltip.addQuote"/>
      </editorContribution>
      <editorContribution
            id="lost.tok.sourceParser.Contribution"
            targetID="lost.tok.sourceParser.SourceParser">
         <action
               class="lost.tok.sourceParser.EndHereAction"
               definitionId="lost.tok.sourceParser.command.endHereAction"
               icon="icons/AddQuote.bmp"
               id="lost.tok.sourceParser.endHereAction"
               label="End Chapter Here"
               menubarPath="edit/SourceParser"
               state="true"
               style="push"
               toolbarPath="SourceParser"
               tooltip="Clicky here to create a new chapter ending at the current cursor location"/>
      </editorContribution>
      <editorContribution
            id="lost.tok.linkTable.Contribution"
            targetID="lost.tok.linkTable.LinkageEditor">
         <action
               class="lost.tok.opTable.MarkAction"
               icon="icons/Mark.bmp"
               id="lost.tok.opTable.MarkAction"
               label="%action.name.mark"
               state="true"
               style="push"
               tooltip="%action.tooltip.mark"/>
         <action
               class="lost.tok.opTable.UnMarkAllAction"
               icon="icons/UnMarkAll.bmp"
               id="lost.tok.opTable.UnMarkAllAction"
               label="%action.name.unmarkAll"
               state="true"
               style="push"
               tooltip="%action.tooltip.unmarkAll"/>
         <action
               class="lost.tok.linkTable.LinkAction"
               icon="icons/main_link_ico.gif"
               id="lost.tok.linkTable.LinkAction"
               label="Link"
               state="true"
               style="push"/>
      </editorContribution>
   </extension>
   <extension
         id="lost.tok.ToKNature"
         point="org.eclipse.core.resources.natures">
      <runtime>
         <run class="lost.tok.ToKNature"/>
      </runtime>
      <content-type id="lost.tok.ToK"/>
      <builder id="lost.tok.ToKBuilder"/>
   </extension>
   <extension
         id="lost.tok.ToKBuilder"
         point="org.eclipse.core.resources.builders">
      <builder hasNature="true">
         <run class="lost.tok.ToKBuilder"/>
      </builder>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            category="Source Parser"
            id="lost.tok.sourceParser.command.endHereAction"
            name="End Chapter Here"/>
      <keyBinding
            commandId="lost.tok.sourceParser.command.endHereAction"
            contextId="org.eclipse.ui.contexts.window"
            keyConfigurationId="org.eclipse.ui.defaultAcceleratorConfiguration"
            keySequence="ALT+Q"
            scope="org.eclipse.ui.contexts.window"/>
   </extension>
</plugin>
